<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
    id="minew-trackerkit"
    version="1.0.0">
    <name>Minew Tracker Kit</name>
    <description></description>
    <license>MIT</license>
    <keywords></keywords>
    <repo>https://github.com/seermedical/cordova-plugin-minew-trackerkit.git</repo>
    <issue>https://github.com/seermedical/cordova-plugin-minew-trackerkit/issues</issue>

    <!-- android -->
    <platform name="android">
      <js-module src="www/plugin.js" name="plugin">
        <runs/>
        <!-- This is the window variable name you want, like window.MyCordovaPlugin -->
        <clobbers target="MinewTrackerkit" />
      </js-module>
      <config-file target="res/xml/config.xml" parent="/*">
        <feature name="MinewTrackerkit">
          <param name="android-package" value="com.minew.MinewTrackerkit" />
          <param name="onload" value="true" />
        </feature>
      </config-file>
      <config-file target="AndroidManifest.xml" parent="/manifest">
        <uses-sdk
            android:minSdkVersion="18"
            android:targetSdkVersion="26" />
        <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
        <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
        <uses-permission android:name="android.permission.BLUETOOTH" />
        <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
        <uses-permission android:name="android.permission.READ_PHONE_STATE" />
      </config-file>

      <source-file src="src/android/MinewTrackerkit.java" target-dir="src/com/minew/" />
      <lib-file src="src/android/libs/>MTTrackerKit.jar" />
    </platform>

    <!-- ios -->
    <platform name="ios">
        <js-module src="www/plugin.js" name="plugin">
            <runs/>
            <clobbers target="MinewTrackerkit" />
        </js-module>
        <config-file target="config.xml" parent="/*">
            <feature name="MinewTrackerkit">
                <param name="ios-package" value="MinewTrackerkit" onload="true" />
            </feature>
        </config-file>

        <header-file src="src/ios/MinewTrackerkit.h" />
        <source-file src="src/ios/MinewTrackerkit.m" />

        <framework src="src/ios/MTTrackit.framework" custom="true" embed="true"/>
    </platform>
</plugin>
